trunk/mule/mule32/MuleFileToWebService/src/test/resources/conf/file-ws-mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
	xmlns:ss="http://www.springframework.org/schema/security"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" 
	xmlns:file="http://www.mulesoft.org/schema/mule/file" 
        xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
        xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" 
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="CE-3.2.1"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.2/mule-file.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.2/mule-xml.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.2/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd ">
	
 <!-- wsdl http://localhost:8081/registration?wsdl -->
 <!-- this is the web service with basic auth -->
 <!-- notice that this is marked exchange = one way -->
    <flow name="MuleWebFlow" doc:name="MuleWebFlow">
        <http:inbound-endpoint exchange-pattern="one-way"
			 address="http://localhost:8081/registration" doc:name="HTTP">

            <mule-ss:http-security-filter   realm="mule-realm"/> 
        </http:inbound-endpoint>
        <cxf:jaxws-service validationEnabled="true" 
                        
			serviceClass="com.dhenton9000.registration.components.ws.RegistrationServiceWSDLImpl"
			enableMuleSoapHeaders="true">

            <cxf:outFaultInterceptors>
                <spring:bean id="outfault"
					class="com.dhenton9000.cxf.interceptors.SoapFaultInterceptor" />
            </cxf:outFaultInterceptors>

        </cxf:jaxws-service>
        <component>
            <singleton-object class="com.dhenton9000.registration.components.ws.RegistrationServiceWSDLImpl" />
        </component>
		 
    </flow>
     <!-- csv file input to the web service -->
     <flow name="inputCSVFileFlow">
        <file:inbound-endpoint
			path="${FILE_FOLDER_ROOT}csvinput"
			connector-ref="inputConnector"
			moveToPattern="#[header:originalFilename]--#[function:datestamp]-csv-working.csv" />
                    
	<component> 
         <spring-object   bean="csvProcessor" />
        </component>
      </flow>
     
    <!-- xml file input to the web service -->
    <flow name="inputXMLFileFlow">
        <file:inbound-endpoint
			path="${FILE_FOLDER_ROOT}in"
			connector-ref="inputConnector"
			moveToPattern="#[header:originalFilename]--#[function:datestamp]-working.xml" />
        <mulexml:xslt-transformer
			maxIdleTransformers="2" maxActiveTransformers="5" returnClass="org.w3c.dom.Document"
			xsl-file="xslt/batchRegistration.xsl" outputEncoding="UTF-8">
			 
        </mulexml:xslt-transformer>
        <splitter evaluator="xpath-node" expression="//ns1:RegisterInput" />
        <transformer ref="DomToXml" />
        <transformer ref="stringToRegisterInput" /> 
                
        <message-properties-transformer>
            <add-message-property key="TRANSMISSION_CREDENTIALS"
				value-ref="alphaCredentials" />
        </message-properties-transformer>
                
	<!-- <component class="com.dhenton9000.registration.components.TestComponent" /> -->
        <vm:outbound-endpoint path="registrationWebClientDispatch" />
                 
    </flow>
    
    <!-- this is the client to the web service  consumers -->
    <!-- must provide a message property called TRANSMISSION_CREDENTIALS -->
    <flow name="registrationWebClientFlow">
        <vm:inbound-endpoint path="registrationWebClientDispatch" />
		 
        <cxf:jaxws-client
			serviceClass="com.dhenton9000.registration.components.ws.RegistrationServiceWSDL"
			operation="register" />
        <http:outbound-endpoint    
			address="http://#[header:INBOUND:TRANSMISSION_CREDENTIALS]@localhost:8081/registration" />
    </flow>
    
    
</mule>
