trunk/mule/attic/Mule30Test/configFiles/mule-jms.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns:xm="http://www.mulesoft.org/schema/mule/xml" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.0/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd
        http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/3.0/mule-quartz.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.0/mule-file.xsd
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.0/mule-jms.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.0/mule-vm.xsd">


	<jms:object-to-jmsmessage-transformer
		name="ObjectToJMSMessage" />
	<jms:jmsmessage-to-object-transformer
		name="JMSMessageToObject" />


	<file:connector name="inboundFileConnector"
		pollingFrequency="10000" streaming="false" autoDelete="false">
		<service-overrides messageFactory="org.mule.transport.file.FileMuleMessageFactory"
			inboundTransformer="org.mule.transformer.NoActionTransformer" />
		<file:expression-filename-parser />
	</file:connector>

	<jms:connector specification="1.1" jndiDestinations="true"
		forceJndiDestinations="true" connectionFactoryJndiName="jms/demoConnectionFactory"
		jndiProviderUrl="ormi://localhost:12401/" jndiInitialFactory="com.evermind.server.rmi.RMIInitialContextFactory"
		name="OC4JJMSConnector" maxRedelivery="200" acknowledgementMode="AUTO_ACKNOWLEDGE"
		createMultipleTransactedReceivers="true" eagerConsumer="true"
		disableTemporaryReplyToDestinations="true" cacheJmsSessions="true">
		<spring:property name="jndiProviderProperties">
			<spring:map>
				<spring:entry key="java.naming.security.principal"
					value="oc4jadmin_jms_user" />
				<spring:entry key="java.naming.security.credentials"
					value="****************" />
			</spring:map>
		</spring:property>
	</jms:connector>

	<flow name="fileFlow">

		<file:inbound-endpoint moveToPattern="#[header:originalFilename]"
			moveToDirectory="/temp/testfile/tmp" address="file://temp/testfile/incoming">
			<file:filename-wildcard-filter pattern="*.xml" />
		</file:inbound-endpoint>

		<jms:outbound-endpoint
			disableTemporaryReplyToDestinations="true" connector-ref="OC4JJMSConnector"
			queue="jms/testQueue" />

	</flow>


</mule>