trunk/mule/mule32/MuleFileTransformer/src/test/resources/mule-file-transformer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
      xmlns:ss="http://www.springframework.org/schema/security"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" 
      xmlns:file="http://www.mulesoft.org/schema/mule/file" 
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      version="CE-3.2.1"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.2/mule-file.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.2/mule-xml.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.2/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd ">

    <description>
        This config processes a csv or other line oriented file changing attributes
        in each line item. The idea is to create 'line file transformer' to set up
        pipeline transformations for files
    </description>
    
    
    <file:connector name="inputConnector"
                    writeToDirectory="src/test/resources/files/done" autoDelete="true"
                    pollingFrequency="1000" fileAge="5000"
                    workDirectory="src/test/resources/files/working"
                    workFileNamePattern="#[header:originalFilename]_done.csv" />
    <file:connector name="outputConnector" />
    
    
    
    <spring:beans>
        <spring:bean id="TransformOneBean"
                     class="com.dhenton9000.file.transformers.FileTransformerUMO">
            <spring:property name="fileOutputLocation" value="src/test/resources/files/output" />  
            <spring:property name="transformer">
                <spring:bean class="com.dhenton9000.file.transformers.TestCsvTransformer" />
            </spring:property>             
        </spring:bean>
        
    </spring:beans>
    
    <flow name="TransformFileOne"> 
         
        
        <file:inbound-endpoint path="src/test/resources/files/input"
                               connector-ref="inputConnector" moveToDirectory="src/test/resources/files/done"
                               moveToPattern="#[header:originalFilename]-#[function:datestamp]-working.csv" />

        <component>
            <spring-object bean="TransformOneBean" />
        </component>
		 
    
        
        <default-service-exception-strategy />
         
    </flow>

    
    
    
    
</mule>
