mule/mule32/MuleSFTP/src/main/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.2/mule-file.xsd
        http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/3.2/mule-sftp.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd">

    <description>
        Sample configuration for sftp place a file and sftp to localhost
    </description>
    

    <file:connector name="file_inputConnector"
                    writeToDirectory="staging/sftp/file/done"
                    autoDelete="true" pollingFrequency="1500" fileAge="2000"
                    workDirectory="staging/sftp/file/working"
                    workFileNamePattern="#[function:datestamp]-#[header:originalFilename]-working" />

    <!-- identityFile="/home/test/.ssh/id_rsa" -->
    <sftp:connector name="sftp-default" archiveDir="staging/sftp/archive" archiveTempReceivingDir="staging/sftp/get"
                    archiveTempSendingDir="staging/sftp/tmp/send" autoDelete="true"
                    duplicateHandling="throwException" fileAge="60000"
                    keepFileOnError="false"
                    outputPattern="#[header:originalFilename]"  
                    pollingFrequency="1000" sizeCheckWaitTime="3000"
                    tempDirInbound="staging" tempDirOutbound="staging"
                    useTempFileTimestampSuffix="true" />
    
    
    <flow name="SftpFileFlow"> 
        <file:inbound-endpoint
            path="staging/sftp/file/input"
            moveToPattern="#[function:datestamp]-#[header:originalFilename].txt"
            moveToDirectory="staging/sftp/file/done"
            connector-ref="file_inputConnector" />
 
        <sftp:outbound-endpoint user="ftpuser" password="ftpuser" path="/home/ftpuser/ftphome"
               connector-ref="sftp-default"  port="22" host="localhost" keepFileOnError="false" />  
     </flow>
     
   
    
</mule>
