trunk/mule/mule32/MuleWebProxy/src/test/resources/test-mule-client-proxy-validate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" 
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
        xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
  	xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
	xmlns:ss="http://www.springframework.org/schema/security"
        xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
        xmlns:spring="http://www.springframework.org/schema/beans" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="CE-3.2.1"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.2/mule-file.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.2/mule-xml.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd 
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.2/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">
 
    
<!--  see http://www.mulesoft.org/jira/browse/MULE-6301 -->

     
      
  <mulexml:dom-to-xml-transformer name="DomToXml"/>   
    <flow name="MuleWebProxyFlow" doc:name="MuleWebProxyFlow">
        <http:inbound-endpoint exchange-pattern="request-response" path="proxy"
			host="localhost" port="8081" doc:name="HTTP">
                            
       </http:inbound-endpoint>
        <cxf:proxy-service wsdlLocation="RegistrationService.wsdl" payload="body" validationEnabled="true"
			namespace="uri:dhenton9000:registrationService" service="RegistrationServiceWSDL" />
        <component class="com.dhenton9000.registration.components.TestComponentForValidationTrue" />  
      </flow> 
     <flow name="fileOut" >
        <vm:inbound-endpoint exchange-pattern="one-way" path="fileOutPath" transformer-refs="DomToXml" doc:name="VM"/>
        <file:outbound-endpoint outputPattern="#[function:datestamp].xml"  transformer-refs="DomToXml"  name="fileEndpoint" path="/home/dhenton/NetBeansProjects/MuleWebProxy/target" />
    </flow> 
</mule>
   
   