trunk/mule/mule32/MuleWSThreading/src/test/resources/junk/test-mule-webproxy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" 
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
        xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
        xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
        xmlns:spring="http://www.springframework.org/schema/beans" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="CE-3.2.1"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.2/mule-file.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.2/mule-xml.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd ">
    
    
    
    <spring:beans>
        <spring:bean id="mainComponent" class="com.dhenton9000.registration.components.ws.RegistrationServiceProxy">
            <spring:property name="demoProperty" value="fred" />
        </spring:bean>
        <spring:bean name="myJaxb" class="javax.xml.bind.JAXBContext" factory-method="newInstance">
        <!-- colon-separated list of package names where JAXB classes exist -->
            <spring:constructor-arg value="com.dhenton9000.registration.bindings"/>
        </spring:bean>
    </spring:beans>   
    
    <mulexml:dom-to-xml-transformer name="DomToXml"/>
    
    
    <flow name="MuleWebProxyFlow" doc:name="MuleWebProxyFlow">
        <http:inbound-endpoint exchange-pattern="request-response" path="proxy"
			host="localhost" port="8081" doc:name="HTTP" />

        <cxf:proxy-service wsdlLocation="RegistrationService.wsdl"
			namespace="uri:dhenton9000:registrationService" service="RegistrationServiceWSDL" />
        <component>
            <spring-object bean="mainComponent" />
        </component>
    </flow>
    <flow name="fileOut" >
        <vm:inbound-endpoint exchange-pattern="one-way" path="fileOutPath" transformer-refs="DomToXml" doc:name="VM"/>
       
        <file:outbound-endpoint outputPattern="#[function:datestamp].xml" name="fileEndpoint" path="/home/dhenton/NetBeansProjects/MuleWebProxy/target" />
    </flow> 
    
</mule>
   
  <!--
  http://grepcode.com/file/repo1.maven.org/maven2/org.mule.modules/mule-module-cxf/3.0.0-RC1/proxy-conf.xml
  http://grepcode.com/file/repo1.maven.org/maven2/org.mule.tests/mule-tests-integration/3.2.0/org/mule/test/construct/FlowNestingTestCase.java?av=f
  http://grepcode.com/file/repo1.maven.org/maven2/org.mule.transports/mule-transport-cxf/3.0.0-M3/proxy-conf.xml
  -->