trunk/mule/mule32/MuleSmooksDemo/src/test/resources/test-mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.mulesoft.org/documentation/display/SMOOKS/Examples#Examples-Transformation -->
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
 xmlns:smooks="http://www.muleforge.org/smooks/schema/mule-module-smooks"
 xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.2/mule-file.xsd 
http://www.muleforge.org/smooks/schema/mule-module-smooks http://dist.muleforge.org/smooks/schema/mule-module-smooks/1.3/mule-module-smooks.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd ">
    <smooks:transformer
        name="csvToPOJOSmooksTransformer"
        configFile="smooks-config.xml"
        resultType="STRING"
        reportPath="report.html"
        /> 
   <!-- test -->
     <custom-transformer name="LineToMap" class="com.dhenton9000.smooks.demo.transformers.LineToMapTransformer" />
    <file:connector name="inputConnector"
           pollingFrequency="3000" moveToDirectory="src/main/resources/input/done"   writeToDirectory="src/main/resources/input/done" autoDelete="true"
           moveToPattern="#[function:datestamp]-#[header:originalFilename].csv"  /> 
   
 
    
    <flow name="splitterFlow1" doc:name="splitterFlow1">
        
        <file:inbound-endpoint path="src/main/resources/input/in" 
        connector-ref="inputConnector" transformer-refs="LineToMap"   doc:name="File"/>
        <logger   level="INFO" doc:name="Logger"/>
        <log-component />
		
        
        
    </flow>
</mule>
