mule/mule32/MuleCollectionSplitter/src/test/resources/test-mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

    
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
        xmlns:spring="http://www.springframework.org/schema/beans" xmlns:guice="http://www.mulesoft.org/schema/mule/guice"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
    http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.2/mule-file.xsd
    http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd
    http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.2/mule-jms.xsd 
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd   
    http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd 
    http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.2/mule-xml.xsd
    http://www.mulesoft.org/schema/mule/guice http://www.mulesoft.org/schema/mule/guice/3.0/mule-guice.xsd
    http://www.mulesoft.org/schema/mule/guice http://www.mulesoft.org/schema/mule/guice/3.0/mule-guice.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd
    http://www.mulesoft.org/schema/mule/spring-security 
    http://www.mulesoft.org/schema/mule/spring-security/3.2/mule-spring-security.xsd">

    
   
    
    
    <file:connector name="inputConnector" readFromDirectory="src/test/resources/input/in"
		workDirectory="src/test/resources/input/temp" autoDelete="false"
		streaming="false" pollingFrequency="2000" fileAge="3000"
		moveToDirectory="src/test/resources/input/processed"  >
        
        <service-overrides 
           messageFactory="org.mule.transport.file.FileMuleMessageFactory"
           inboundTransformer="org.mule.transformer.NoActionTransformer" />
    </file:connector>
    <file:connector name="outputConnector" outputPattern="#[header:originalFilename]--#[function:datestamp]-completed.xml" />        
    <flow name="collectionFlow">
        <file:inbound-endpoint path="src/test/resources/input/in"
		moveToPattern="#[header:originalFilename]--#[function:datestamp]-working.xml"
		disableTransportTransformer="true" mimeType="text/plaln" connector-ref="inputConnector"
                />
        <component class="com.dhenton9000.mule.collection.demo.CollectionCreator" />
        <collection-splitter />   
        <file:outbound-endpoint path="src/test/resources/input/out" connector-ref="outputConnector" />               
 
           
    </flow>
            
</mule>
