trunk/mule/mule32/MuleJersey/src/main/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	version="CE-3.2.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
	<file:connector name="inputConnector" readFromDirectory="src/test/resources/input/in"
		workDirectory="src/test/resources/input/temp" autoDelete="false"
		streaming="false" pollingFrequency="10000" fileAge="3000"
		moveToDirectory="src/test/resources/input/out" doc:name="File" />
	
	<flow name="parserFlow" doc:name="parserFlow">
		<file:inbound-endpoint path="src/test/resources/input/in"
			moveToPattern="#[header:originalFilename]--#[function:datestamp]-working.xml"
			disableTransportTransformer="true" mimeType="text/xml" connector-ref="inputConnector"
			doc:name="XMLInput" />
		<component class="com.dhenton9000.parser.ParserUMO"
			doc:name="Parser" />
	</flow>
</mule>
