mule/mule32/MuleSyncWebService/src/test/resources/test-mule-ws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:mule-ss="http://www.mulesoft.org/schema/mule/spring-security"
      xmlns:ss="http://www.springframework.org/schema/security"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" 
      xmlns:file="http://www.mulesoft.org/schema/mule/file" 
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm" 
      xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" 
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:spring="http://www.springframework.org/schema/beans" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      version="CE-3.2.1"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.2/mule-file.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.2/mule-xml.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.2/mule-spring-security.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd ">
	
    <!-- wsdl http://localhost:9091/registration?wsdl -->
  
    <global-property name="FILE_FOLDER_ROOT" value="src/test/resources/input/" />
     
     
    <spring:beans>
        <spring:bean name="csvProcessor" 
                     class="com.dhenton9000.registration.csv.CsvMuleComponent" >
            <spring:property name="fileReader">
                <spring:bean class=" com.dhenton9000.registration.csv.WebServiceFileInputReaderImpl">
                    <spring:property name="lineProcessor">
                        <spring:bean
                                class="com.dhenton9000.registration.csv.RegistrationLineProcessor" />
                    </spring:property>
                </spring:bean>
            </spring:property>
            <spring:property name="processingType" value="registrations" />
            <spring:property name="dispatchDestination" value="vm://registrationWebClientDispatch"   />
            <spring:property name="errorDestination" value="vm://registrationWebErrorDispatch"   />   
      
        </spring:bean>
    </spring:beans>
     
     
    <file:connector name="inputConnector"
                    writeToDirectory="${FILE_FOLDER_ROOT}done"
                    autoDelete="true" pollingFrequency="1000" fileAge="1000"
                    moveToPattern="#[function:datestamp]-#[header:originalFilename]"
                    workDirectory="${FILE_FOLDER_ROOT}working" workFileNamePattern="#[function:uuid]-#[header:originalFilename].tmp"
                    moveToDirectory="${FILE_FOLDER_ROOT}done" />
    
    
    <file:connector name="outputConnector" />
     
    <flow name="MuleWebFlow" doc:name="MuleWebFlow">
        <http:inbound-endpoint exchange-pattern="request-response"
                               address="http://localhost:9091/registration" doc:name="HTTP">
            <!--  </http:inbound-endpoint> -->
            <cxf:jaxws-service validationEnabled="true" wsdlLocation="RegistrationService.wsdl"
                        
                               serviceClass="com.dhenton9000.registration.components.ws.RegistrationServiceWSDLImpl"
                               enableMuleSoapHeaders="true">

                <cxf:outFaultInterceptors>
                    <spring:bean id="outfault"
                                 class="com.dhenton9000.cxf.interceptors.SoapFaultInterceptor" />
                </cxf:outFaultInterceptors>

            </cxf:jaxws-service>
        </http:inbound-endpoint>
         
        <component>
            <singleton-object class="com.dhenton9000.registration.components.ws.RegistrationServiceWSDLImpl" />
        </component>
        
    </flow>
    
    
    <!-- csv file input to the web service -->
    <flow name="inputCSVFileFlow">
        <file:inbound-endpoint
            path="${FILE_FOLDER_ROOT}input"
            connector-ref="inputConnector" />
                    
        <component> 
            <spring-object   bean="csvProcessor" />
        </component>
    </flow>

    
    <flow name="registrationWebClientFlow">
        <vm:inbound-endpoint path="registrationWebClientDispatch" exchange-pattern="request-response" />
        <http:outbound-endpoint    exchange-pattern="request-response"
                                   address="http://localhost:9091/registration">	 
            <cxf:jaxws-client
                serviceClass="com.dhenton9000.registration.components.ws.RegistrationServiceWSDL"
                operation="register" />
        </http:outbound-endpoint>
    </flow>

    <flow name="registrationErrorFlow">
        
        <vm:inbound-endpoint path="registrationWebErrorDispatch" exchange-pattern="one-way" />
        <log-component />
        
    </flow>

    
    
</mule>