trunk/mule/mule32/MuleChoice/src/test/resources/test-mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:http="http://www.mulesoft.org/schema/mule/http" 
xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" 
xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
xmlns:file="http://www.mulesoft.org/schema/mule/file"
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:spring="http://www.springframework.org/schema/beans" 
xmlns:core="http://www.mulesoft.org/schema/mule/core" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
version="CE-3.2.1" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.2/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.2/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.2/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.2/mule-file.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd ">
   
   
    <spring:beans>
     
        <spring:bean name="myJaxb" class="javax.xml.bind.JAXBContext" factory-method="newInstance">
        <!-- colon-separated list of package names where JAXB classes exist -->
            <spring:constructor-arg value="com.dhenton9000.registration.components.ws"/>
        </spring:bean>
    </spring:beans>  
    <mulexml:jaxb-object-to-xml-transformer name="InputToXML" jaxbContext-ref="myJaxb"/> 
    <byte-array-to-serializable-transformer name="Serializable" />
   
   <flow name="testFlow1" doc:name="testFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="127.0.0.1" port="8081" path="services/registration" encoding="UTF-8" doc:name="HTTP"/>
        <cxf:jaxws-service serviceClass="com.dhenton9000.registration.components.ws.RegistrationServiceWSDLImpl" wsdlLocation="RegistrationService.wsdl" enableMuleSoapHeaders="false" doc:name="SOAP"/>
        <choice doc:name="Choice" doc:description="This choice router will look for 'ted' or 'fred' in the name property of the submitted Registration and route to the given transformer">
            <when expression="name = 'fred'" evaluator="bean">
                <processor-chain>
                    <custom-transformer class="com.dhenton9000.registration.components.FredRegistrationTransformer" doc:name="Java"/>
                </processor-chain>
            </when>
            <when expression="name = 'ted'" evaluator="bean">
                <processor-chain>
                    <custom-transformer class="com.dhenton9000.registration.components.TedRegistrationTransformer" doc:name="Java"/>
                </processor-chain>
            </when>
            <otherwise>
                <processor-chain>
                    <custom-transformer class="com.dhenton9000.registration.components.RegistrationTransformer" doc:name="Java"/>
                </processor-chain>
            </otherwise>
        </choice>
        <component class="com.dhenton9000.registration.components.ws.RegistrationServiceWSDLImpl" doc:name="Java"/>
    </flow>
      <flow name="fileOut" >
        <vm:inbound-endpoint disableTransportTransformer="true" exchange-pattern="one-way" path="fileOutPath" transformer-refs="Serializable InputToXML" doc:name="VM"/>
       
        <file:outbound-endpoint outputPattern="#[function:datestamp].xml" name="fileEndpoint" path="/home/dhenton/NetBeansProjects/MuleChoice/target" />
    </flow> 
    
</mule>